<a href="https://colab.research.google.com/github/EstephanyReyes/procesos-estocasticos/blob/main/PruebaKolmogorov.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Prueba de Kolmogorov-Smirnov
Alumna: Reyes Fuentes Estephany Carolina

Este procedimiento prueba la hipótesis de que la muestra proviene de una distribución uniforme. Mediante los siguientes pasos:

Paso 1: Ordenar los números de la muestra de forma ascendente

Paso 2: Calcular el estadístico de prueba a partir de:

$$
D^{+} = \max_{1 \le i \le n} \left| \frac{i}{n} - X_i \right|$$    $$ D^{-} = \max_{1 \le i \le n} \left| X_i - \frac{i-1}{n} \right|$$

$$
D = \max \left( D^{+}, D^{-} \right)
$$

Paso 3: Comparar con el valor más crítico $d_{\alpha,n}$

Si $D$ < $d_{\alpha,n}$ no se rechaza la hipótesis de que los números provienen de una distribución uniforme.

Se describen las siguientes hipótesis:

$$H_0: \sim U(0,1)$$

$$H_1 \not\sim U(0,1)$$

In [101]:
import numpy as np
import pandas as pd

In [102]:

#importar datos
url = "https://raw.githubusercontent.com/EstephanyReyes/procesos-estocasticos/main/datos"
datos = np.loadtxt(url)

In [103]:
datos = np.array(datos)
datos = np.sort(datos)
print(datos)

[0.00121 0.03185 0.03272 0.0501  0.0523  0.05475 0.07281 0.08128 0.09133
 0.09264 0.10699 0.1085  0.11537 0.12079 0.14151 0.15506 0.17028 0.18284
 0.19147 0.19904 0.19962 0.20852 0.21631 0.22287 0.22724 0.23949 0.24
 0.26593 0.27738 0.28269 0.29453 0.29931 0.30861 0.33216 0.33381 0.33954
 0.34358 0.34488 0.35286 0.36982 0.38507 0.38618 0.38729 0.40644 0.41678
 0.42989 0.43308 0.44267 0.45679 0.49883 0.49962 0.51781 0.53559 0.54325
 0.5517  0.55743 0.55877 0.5741  0.5788  0.58244 0.58518 0.58962 0.61168
 0.624   0.63453 0.64183 0.65002 0.65559 0.65726 0.67621 0.68334 0.69623
 0.70119 0.72102 0.73059 0.73435 0.74579 0.75103 0.76086 0.76262 0.7691
 0.78961 0.79113 0.79269 0.79882 0.80548 0.81772 0.82654 0.83358 0.85853
 0.85903 0.86752 0.87616 0.88809 0.89898 0.90829 0.91512 0.93655 0.94187
 0.98611]

In [104]:
def prueba_ks(datos, alpha=0.05):
    n = len(datos)
    i = np.arange(1, n + 1)

    D_plus = np.max(np.abs(i / n - datos))
    D_minus = np.max(np.abs(datos - (i - 1) / n))
    D = max(D_plus, D_minus)

    d_critico= 1.36 / np.sqrt(n)

    if D < d_critico:
       decision  = "No se rechaza la hipótesis nula. Los datos provienen de una distribución uniforme."
    else:
      decision = "Se rechaza la hipótesis nula. Los datos no provienen de una distribución uniforme."

    tabla = pd.DataFrame({
        "i": i,
        "Xi": datos,
        "(i-1)/n": (i - 1) / n,
        "i/n": i/n,
        "D-": np.abs(datos - (i - 1) / n),
        "D+": np.abs(i / n - datos)
                            })
    tabla.index=[""] * len(tabla)

    return D, d_critico, decision, tabla

In [105]:
D, d_critico, decision, tabla = prueba_ks(datos)
print("D =", D)
print("d_critico =", d_critico)
print(decision)

tabla

D = 0.056420000000000026
d_critico = 0.136
No se rechaza la hipótesis nula. Los datos provienen de una distribución uniforme.

      i       Xi  (i-1)/n   i/n       D-       D+
      1  0.00121     0.00  0.01  0.00121  0.00879
      2  0.03185     0.01  0.02  0.02185  0.01185
      3  0.03272     0.02  0.03  0.01272  0.00272
      4  0.05010     0.03  0.04  0.02010  0.01010
      5  0.05230     0.04  0.05  0.01230  0.00230
..  ...      ...      ...   ...      ...      ...
     96  0.90829     0.95  0.96  0.04171  0.05171
     97  0.91512     0.96  0.97  0.04488  0.05488
     98  0.93655     0.97  0.98  0.03345  0.04345
     99  0.94187     0.98  0.99  0.03813  0.04813
    100  0.98611     0.99  1.00  0.00389  0.01389

[100 rows x 6 columns]